#logo-image {
    width: 17vw;
}

#logo {
    display: flex;
    justify-content: center;

}

nav {
    background-color: #FFEFE5;
    padding: 20px;
}

ul {
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    list-style-type: none;
}

a:link {
    text-decoration: none;
    padding: 30px;
}

/* visited link */
a:visited {
    color: black;
}

@media only screen and (max-width: 800px) {
    ul {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 500px) {
    ul {
        font-size: 5vw;
    }
}