.container {
    padding: 50px;
}

.filter {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.filter h3 {
    padding: 15px;
}

.filter-btn {
    margin: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: pink;
}

.item-description {
    font-size: 15px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.card {
    height: 100%;
}

#cart-btn {
    margin: 10px;
    width: 90%;
}