.container {
    padding: 50px;
}

.filter {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.filter h3 {
    padding: 15px;
}

.filter-btn {
    margin: 10px;
    font-size: 90%;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: pink;
}

.item-description {
    font-size: 15px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.card {
    height: 100%;
}

#cart-btn {
    margin: 10px;
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .filter {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .filter h3 {
        text-align: center;
        margin: 0;
        /* padding: 0; */
    }
}